@model List<proje.Models.GALERI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    string ara = "";
    if (Request["ara"] != null)
    {
        ara = Request["ara"].ToString();
    }
}

<div id="toolbar">
    <form id="frm1" method="post" action="~/Galeri/Ara" class="form-inline">
        <input type="text" name="txtAra" id="txtAra" value="@ara" class="form-control" placeholder="Başlık Adını Giriniz" />
        <input type="submit" value="Ara" class="btn btn-outline-dark" />
        <a href="~/Galeri/KayitFormu" class="btn btn-success">Yeni</a>

    </form>
</div>
<script>
    function SilOnay() {
        var sonuc = confirm("Kayıt Silinsin mi?");
        return sonuc;
    }
</script>

<div id="liste" class="table-responsive">
    <table class="table table-striped table-hover table-bordered">

        <tr>
            <th>Sil</th>
            <th>Düzenle</th>
            <th>Başlık</th>
            <th>Durumu</th>
            <th>Resim Açıklama</th>
            <th>Resim</th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td><a class="btn btn-danger" href="~/Galeri/Sil/@Model[i].GALERI_ID" onclick="return SilOnay();">Sil</a></td>
                <td><a class="btn btn-info" href="~/Galeri/KayitFormu/@Model[i].GALERI_ID">Düzenle</a></td>
                <td>@Model[i].BASLIK</td>
                <td>
                    @if (@Model[i].DURUMU == true)
                    {
                        <text><a> Aktif</a></text>
                    }
                    else
                    {
                        <text> <a> Pasif</a></text>
                    }

                </td>

                <td>@Model[i].LINK</td>
                <td>
                    <img class="galeri-resim-liste" height="80" width="80" src="~/Image/@Model[i].RESIM" />
                </td>
            </tr>
        }
    </table>
</div>

@Html.Partial("_Sayfalama")

