@model List<proje.Models.FIRSAT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    string ara = "";
    if (Request["ara"] != null)
    {
        ara = Request["ara"].ToString();
    }

    List<proje.Models.MEKAN> mekanlar = ViewData["mekanlar"] as List<proje.Models.MEKAN>;
}

<div id="toolbar">
    <form id="frm1" method="post" action="~/Firsat/Ara" class="form-inline">
        <input type="text" name="txtAra" id="txtAra" value="" class="form-control" placeholder="Fırsat Adını Giriniz." />
        <input type="submit" value="Ara" class="btn btn-outline-dark" />
        <a href="~/Firsat/KayitFormu" class="btn btn-success">Yeni</a>
    </form>
</div>

<script>
    function SilOnay() {
        var sonuc = confirm("Kayıt Silinsin mi?");
        return sonuc;
    }
</script>

<div id="liste" class="table-responsive">

    <table class="table table-striped table-hover table-bordered">

        <tr>
            <th>Sil</th>
            <th>Düzenle</th>
            <th>Fırsat Adı</th>
            <th>Mekan Adı</th>
            <th>Fırsat Detay</th>
            <th>Nasıl Kullanılır</th>
            <th>Bitiş Tarihi</th>
            <th>Bitiş Saati</th>

        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td><a class="btn btn-danger" href="~/Firsat/Sil/@Model[i].FIRSAT_ID" onclick="return SilOnay();">Sil</a></td>
                <td><a class="btn btn-info" href="~/Firsat/KayitFormu/@Model[i].FIRSAT_ID">Düzenle</a></td>
                <td>@Model[i].FIRSAT_ADI</td>
                <td>
                    @if (mekanlar != null)
                    {
                        @mekanlar.Where(x => x.MEKAN_ID == Model[i].MEKAN_ID).FirstOrDefault().MEKAN_ADI
                    }
                </td>
                <td>@Model[i].FIRSAT_DETAY</td>
                <td>@Model[i].NASIL_KULLANILIR</td>
                <td>@Model[i].BITIS_TARIH</td>
                <td>@Model[i].BITIS_SAAT</td>
            </tr>
        }
    </table>
</div>

@Html.Partial("_Sayfalama")

